$font-family-primary: "Rubik", sans-serif;

$default-border-radius: 8px;
$default-transition: cubic-bezier(0, 1.18, 0.78, 0.99);

$color-red: #ff414c;
$color-green: #00ce90;
$color-orange: #ffb800;
$color-orange-dark: #ff8541;
$color-blue: #00c7f3;
$color-purple: #a36ee5;
